In [50]:
import numpy as np
import pandas as pd

# data of world cup year and the scored goals in the tournament
year = [1990,1994,1998,2002,2006,2010,2014]
goals = [115,141,171,161,147,145,171]
# convert list into array of arrays
my_data = np.array([year,goals])
my_data

array([[1990, 1994, 1998, 2002, 2006, 2010, 2014],
       [ 115,  141,  171,  161,  147,  145,  171]])

In [51]:
# create a pandas data frame based on the numpy array
df = pd.DataFrame(my_data)
# transpose the data
df = df.T
# change columns names
df.columns = ['year','goals_scored']
df

   year  goals_scored
0  1990           115
1  1994           141
2  1998           171
3  2002           161
4  2006           147
5  2010           145
6  2014           171

In [52]:
# get the average goals scored on world cups later than year 2000
df[df.year>2000].goals_scored.mean()

156.0

In [53]:
# breaking down the solution
recent_years = df[df.year>2000]
recent_years

   year  goals_scored
3  2002           161
4  2006           147
5  2010           145
6  2014           171

In [54]:
goals_column = recent_years.goals_scored
goals_column

3    161
4    147
5    145
6    171
Name: goals_scored, dtype: int32

In [55]:
goals_column.mean()

156.0